<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <h2>Lista de Funcionários</h2>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Salário</th>
            </tr>
        </thead>
        <tbody>
            <% if(funcionarios.length > 0) { %>
                <% funcionarios.forEach(funcionario => { %>
                    <tr>
                        <td>
                            <%= funcionario.NOME %>
                        </td>
                        <td>
                            <%= funcionario.CARGO %>
                        </td>
                        <td>
                            <%= funcionario.SALARIO %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="3">Nenhum registro no Banco de Dados!</td>
                            </tr>
                            <% } %>
        </tbody>
    </table>

</body>

</html>